<div class="controlBar">
  <div class=" col-xs-3 navbar-default sidebar"  role="navigation">
    <div class="row sidebar-search">
          <div class="input-group custom-search-form ">
              <input type="text" class="search-input text-uppercase" placeholder="Navigate...">
          </div>
    </div>

    <div class="row sidebar-nav navbar-collapse">
          <ul class="nav in" id="side-menu">
              <li ui-sref-active="active">
                  <a ui-sref="dashboard.analytics.reportStat" class="text-capitalize">analytics</a>
              </li>
              <li ui-sref-active="active">
                  <a ui-sref="dashboard.news" class="text-capitalize">news </a>
              </li>
              <li ui-sref-active="active">
                  <a ui-sref="dashboard.boardBrief" class="text-capitalize"> boardBrief </a>
              </li>
              <li ui-sref-active="active">
                  <a ui-sref="dashboard.brifcase" class="text-capitalize"> brifcase</a>
              </li>

          </ul>
    </div>
      <!-- /.sidebar-collapse -->
  </div>

</div>
