<div class="character">
  <div class="row">
    <div class="col-xs-5 imagen-col">
        <img ng-src="{{vm.characterDetails.thumbnail.path + '.' + vm.characterDetails.thumbnail.extension}}" alt="" class="img-post" >
    </div>
    <div class="col-xs-7 info-comics">
      <h3>{{vm.characterDetails.name}}</h3>
      <p>{{vm.characterDetails.description}}</p>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 tabs">
        <uib-tabset active="active">
            <uib-tab index="0" select="alertMe()">
                <uib-tab-heading class="text-capitalize title-tab">
                  comics
                </uib-tab-heading>
                <div class="row">
                  <button type="button" class="btn-group btn-md add-fav pull-right">Agregar 3 a favoritos</button>
                </div>
              <div class="row">
                <div class="col-xs-4 items" ng-repeat="comic in vm.characterDetails.comics.items" >
                  <a class="item" ng-click="actions.OpenComicsDetailsModal(vm.characterId)">{{comic.name}}</a>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="1" select="alertMe()">
                <uib-tab-heading class="text-capitalize title-tab">
                   Series
                </uib-tab-heading>
                <div class="row">
                  <div class="col-xs-4 items" ng-repeat="series in vm.characterDetails.series.items" >
                    <a class="item-series" >{{series.name}}</a>
                  </div>
                </div>
            </uib-tab>
            <uib-tab index="2" select="alertMe()">
                   <uib-tab-heading class="text-capitalize title-tab">
                       stories
                   </uib-tab-heading>
                   <div class="row">
                     <div class="col-xs-4 items-series" ng-repeat="stories in vm.characterDetails.stories.items" >
                       <a class="item">{{stories.name}}</a>
                     </div>
                   </div>
            </uib-tab>
         </uib-tabset>
      </div>
    </div>
</div>
